@import "tailwindcss";

/* Define your height breakpoints */
@custom-variant hmd (@media (max-height: 899px));
@custom-variant hlg (@media (min-height: 1000px));

@theme {
    --color-primaryBackground: "#ffffff";
    --color-secondaryBackground: "#f8fafc";
    --color-footerBackground: #f6f9fc;
    --color-primaryText: "#222222";
    --color-contrastText: "#ffffff";
    --color-secondaryText: "#6B7280";
}


html {
    background-color: #f8fafc;
    scrollbar-gutter: stable-both-edges;
}

.content-container {
    padding: 24px 128px;
}

a {
    font-weight: 600;
    color: #3b82f6;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

select, select::picker-icon {
    appearance: none;
}
select::picker-icon {
    display: none;
}
