@import "tailwindcss";

html {
    background-color: #f8fafc;
    scrollbar-gutter: stable-both-edges;
}

.content-container {
    padding: 24px 128px;
}

a {
    font-weight: 600;
    color: #3b82f6;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

select, select::picker-icon {
    appearance: none;
}
select::picker-icon {
    display: none;
}
