.featuredDestination {
    background-color: #f5f8fb;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    padding-top: 80px;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 36px;
    font-family: Playfair;
}

.description {
    color: #6B7280;
    max-width: 700px;
    text-align: center;
    font-family: Outfit;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
