.header {
    padding: 24px 128px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    background-color: none;
    height: 92px;
    width: 100%;
    z-index: 400;
    display: flex;
    justify-content: center;
    z-index: 99;
    align-items: center;
    left: 0;
}
