.hero {
    display: flex;
    font-family: Outfit;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../../../assets/heroImage.png');
    background-repeat: no-repeat;
    padding: 24px 128px;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-family: Playfair Display;
    color: white;
    font-weight: bolder;
    font-size: 56px;
    max-width: 600px;
    line-height: 60px;
}

.tag p {
    padding: 4px 14px;
    border-radius: 25px;
    color: white;
    background-color: rgba(73, 185, 255, 0.5);
    margin-bottom: 16px;
}
